#tree{
    display:table;
    width:60%;
    vertical-align:middle;
    background-color: aqua;

  }
  .level{
    display:table-cell;
    width:33%;
    vertical-align:middle;
    background-color: aqua;
  }