#tree{
    display: table;
    width:60%;
    vertical-align:middle;
  }
  .level{
    display:table-cell;
    width:33%;
    vertical-align:middle;
  }
.item{
background-color: blue;
}
.tournament{
	background-color: rgb(235, 0, 0);
}

td{

	width: 150px;
	height: 75px; 
	text-align: center;
background-color: #c2c4c1;
color: #000000;
    font-family: sans-serif;
 


}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	
	}

p { 
	margin-top: 0; 
	}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: rgb(43, 41, 32);
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(206, 12, 12);
font-size: 15px;
	}
	
li {
	float: left;
	margin-left: 50px;
	
	}
	
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
	li a:hover {
		background-color: #111;
		}
	
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(255, 255, 255);
	}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(192, 253, 194);
	}


a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: rgb(128, 250, 103);
	}

.list	{
		margin-left: auto;
		margin-right: auto;
		width: 350px;
		height:350px; 
}
.nomOiseau
{
	text-align: center;
}
.listOiseaux	{
	margin-left: 10%;
	margin-right: 10%;
	width: 1000x;
    height:1000px;
    float : left,right; 
}
.user{
	margin-left: 20px;
	width: 400x;
	height:800px; 
	text-align: center;
	float: left;
}

.infoUser{
	margin-left: 300px;
	width: 600x;
	float : top;
	text-align: center;
}
